body {
	margin: 0;
	padding: 0;
	font-family: arial;	
}

.content-one {
	margin: 0 auto;
	background-color: hsl(163, 100%, 50%);
	width: 100%;	
	padding: 0; /* left/right, top/bottom */
	font-size: 100%;
	font-size: 1.2em;
	color: black;


}

.content-two {
	margin: 0 auto;
	background-color: hsl(0, 100%, 50%);
	width: 100%;
	padding: 0;
	font-size: 100;
	font-size: 1.2em;
	color black;
}

.animation-header{
	text-align:center;

}
.animation-logo {
	margin: 0 auto;
	max-width: 80vw;
	grid-template-layout
}
.shithead {
	max-width: 80vw;
	margin: 0 auto;	
	background-color: white;
	color: black;
	padding: 0;
}

.intro-content{
	max-width: 80vw;
	position: relative;
	margin: 0 auto;
	padding: 0;
}
.main-content {
	background-color: black;

}

.post-title,
.entry-content {
	max-width: 40rem;
	margin: 0 auto;
	padding-bottom: 20px;
}

.photo-content {
	background-color: hsl(163, 100%, 91%);
	position: relative;
	max-width: 80vw;
	margin: 0 auto;

}

.animation-content {
	background-color: hsl(0, 100%, 91%);
	position: relative;
	max-width: 80vw;
	margin: 0 auto;
	color: black;
}

figure {
	margin: 0 0 1.5em 0; 
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.caption {
	padding-top: .5em;
	text-align: center;
	font-style: italic;
}

.align-left{
	width: 50%;
	margin-right: 1em;
	float: left;
}

.align-right{
	width: 50%;
	margin-left: 1em;
	float: right;
}

p {
	margin: 0;
	padding: 0;
	line-height: 1.3em;
}

.clearfix:after {
	display: table;
	content: "";
	clear: both;
}

.section-header {
	text-align: center;
	margin: 0 0 0 0;
	
	padding: 0 0 0 0;
}
.intro{
	padding: 0;
	margin: 0 auto;
	padding-bottom: 50px;
}

.animation-logo {
	padding: 0;
	margin: 0 auto;
}

.animation-header {
	padding: 0;
	margin: 0 auto;
}

/* 
 * Modal
 */

.modal {
	position:fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
}

.modal-content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding 1rem 1.5rem;
	width: 24rem;
	border-radius: 0.5rem;
	z-index: 1000;
}

.close-button{ 
	float: right;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	cursor: pointer;
	border-radius: 0.25rem;
	background-color: grey;
}

.close-button:hover{
	background-color: darkgrey;
}

.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.animation-column {
	padding: 1rem 2rem 1rem 2rem;
	border-style: ridge;
	border-color: purple;
}

@keyframes rainbow {
	0%	{background-color: hsl(7.2, 100%, 50%)} 	
	2%	{background-color: hsl(14.4, 100%, 50%)}
	4%	{background-color: hsl(21.6, 100%, 50%)}
	6%	{background-color: hsl(28.8, 100%, 50%)}
	8%	{background-color: hsl(36, 100%, 50%)}
	10%	{background-color: hsl(43.2, 100%, 50%)}
	12%	{background-color: hsl(50.4, 100%, 50%)}
	14%	{background-color: hsl(57.6, 100%, 50%)}
	16%	{background-color: hsl(64.8, 100%, 50%)}
	18%	{background-color: hsl(72, 100%, 50%)}
	20%	{background-color: hsl(79.2, 100%, 50%)}
	22%	{background-color: hsl(86.4, 100%, 50%)}
	24%	{background-color: hsl(93.6, 100%, 50%)}
	26%	{background-color: hsl(100.8, 100%, 50%)}
	28%	{background-color: hsl(108, 100%, 50%)}
	30%	{background-color: hsl(115.2, 100%, 50%)}
	32%	{background-color: hsl(122.4, 100%, 50%)}
	34%	{background-color: hsl(129.6, 100%, 50%)}
	36%	{background-color: hsl(136.8, 100%, 50%)}
	38%	{background-color: hsl(144, 100%, 50%)}
	40%	{background-color: hsl(151.2, 100%, 50%)}
	42%	{background-color: hsl(158.4, 100%, 50%)}
	44%	{background-color: hsl(165.6, 100%, 50%)}
	46%	{background-color: hsl(172.8, 100%, 50%)}
	48%	{background-color: hsl(180, 100%, 50%)}
	50%	{background-color: hsl(194.4, 100%, 50%)}
	52%	{background-color: hsl(201.6, 100%, 50%)}
	54%	{background-color: hsl(208.6, 100%, 50%)}
	56%	{background-color: hsl(216, 100%, 50%)}
	58%	{background-color: hsl(223.2, 100%, 50%)}
	60%	{background-color: hsl(230.4, 100%, 50%)}
	62%	{background-color: hsl(237.6, 100%, 50%)}
	64%	{background-color: hsl(244.8, 100%, 50%)}
	66%	{background-color: hsl(252, 100%, 50%)}
	68%	{background-color: hsl(259.2, 100%, 50%)}
	70%	{background-color: hsl(266.4, 100%, 50%)}
	72%	{background-color: hsl(273.6, 100%, 50%)}
	74%	{background-color: hsl(280.8, 100%, 50%)}
	76%	{background-color: hsl(288, 100%, 50%)}
	78%	{background-color: hsl(295.2, 100%, 50%)}
	80%	{background-color: hsl(302.4, 100%, 50%)}
	82%	{background-color: hsl(309.6, 100%, 50%)}
	84%	{background-color: hsl(316.8, 100%, 50%)}
	86%	{background-color: hsl(324, 100%, 50%)}
	88%	{background-color: hsl(331.2, 100%, 50%)}
	90%	{background-color: hsl(338.4, 100%, 50%)}
	92%	{background-color: hsl(345.6, 100%, 50%)}	
	94%	{background-color: hsl(352.8, 100%, 50%)}
	96%	{background-color: hsl(360, 100%, 50%)}
	98%	{background-color: hsl(0, 100%, 50%)}
	100%	{background-color: hsl(0, 100%, 50%)}
}

#animation-column-one {
	animation-name: rainbow;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#animation-column-two {
	animation-name: rainbow;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-delay: -2s;

}

#animation-column-three{
	animation-name: rainbow;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-delay: -4s;
}
@media screen and (min-width: 50rem) {
	.align-half,
	.align-full,
	.align-full-left,
	.align-full-right,
	.align-half-left,
	.align-half-right {
		margin-left: calc(((80vw - 40rem) / 2) * -1);
		width: 80vw;
		display: grid;
		grid-template-columns: 
			[full-start] minmax(1em, 1fr) 
			[wide-start] minmax(0, 1fr)
			[content-start] minmax(0, 40rem) [content-end]
			minmax(0, 1fr) [wide-end]
			minmax(1em, 1fr) [full-end];
	}

	.align-half > * {
		grid-column: wide;
	}

	.align-full > * {
		grid-column: full;
	}

	.align-full-left img {
		grid-column: full-start/content-end;
	}

	.align-full-left .caption {
		grid-column: content-end/full-end;
		align-self: end;
		text-align: left;
		padding-left: 1em;
	}

	.align-full-right img {
		grid-column: content-start/full-end;
		grid-row: 1;
	}

	.align-full-right .caption {
		grid-column: full-start/content-start;
		grid-row: 1;
		align-self: end;
		text-align: right;
		padding-right: 1em;
	}

	.align-half-left img {
		grid-column: full-start/wide-end;
	}

	.align-half-left .caption {
		grid-column: full-start/content-start;
		grid-row: 2;
	}

	.align-half-right img {
		grid-column: wide-start/full-end;
	}

	.align-half-right .caption {
		grid-column: content-end/full-end;
		grid-row: 2;
	}

	.grid-animation-container {
		display: grid;
		grid-template-columns: 	1fr 1fr 1fr;
	}
}
